
include:
  - project: "sickit/ci/release-please"
    file: "/templates/release-please.yml"
    inputs:
      goreleaser: 1

.rules-mr:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH

.rules-release-mr:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /^release-v?[0-9]+\.[0-9]+\.[0-9]+$/

.rules-tag:
  rules:
    - if: $CI_COMMIT_TAG

.pages:
  image: hugomods/hugo:exts-0.150.0
  before_script:
    - hugo version
  script:
    - hugo --minify --source ./docs
  rules:
    - !reference [.rules-mr, rules]
    - !reference [.rules-release-mr, rules]

go lint:
  image: golang:1.25
  before_script:
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh
      | sh -s -- -b $GOPATH/bin latest
  script:
    - make lint
  rules:
    - !reference [.rules-mr, rules]
    - !reference [.rules-release-mr, rules]

go test:
  image: golang:1.25
  script:
    - make test
  rules:
    - !reference [.rules-mr, rules]
    - !reference [.rules-release-mr, rules]

go build (goreleaser snapshot):
  image:
    name: goreleaser/goreleaser:latest
    entrypoint: [""]
  needs:
    - go lint
    - go test
  variables:
    GITLAB_TOKEN: $CI_JOB_TOKEN
    GIT_DEPTH: 0
  script:
    - make goreleaser-snapshot
  rules:
    - !reference [.rules-release-mr, rules]

lint Helm Charts:
  image:
    name: drpsychick/argocd-kubectl
    entrypoint: [""]
  script:
    - ct lint --all
  rules:
    - !reference [.rules-mr, rules]
    - !reference [.rules-release-mr, rules]
    - !reference [publish Helm Charts, rules]

package Helm Charts:
  image:
    name: drpsychick/argocd-kubectl
    entrypoint: [""]
  script:
    - mkdir -p ./pages
    - helm package charts/* --destination ./pages
    # - helm repo index --url https://${CI_PROJECT_NAMESPACE}.gitlab.io/${CI_PROJECT_NAME} .
    # - mv index.yaml ./pages
    # - "echo \"User-Agent: *\nDisallow: /\" > ./pages/robots.txt"
    - CRON_VERSION=$(ls ./pages/tocli-cron-*.tgz | sed -e 's#.*pages/tocli-cron-\(.*\)\.tgz#\1#')
    - echo "CRON_VERSION=$CRON_VERSION" > HELM.env
    - echo "ASSETS=$(ls -1 pages/*.tgz | tr "\n" ",")" >> HELM.env
  artifacts:
    reports:
      dotenv:
        - HELM.env
    paths:
      - ./pages
  rules:
    - !reference [publish Helm Charts, rules]

publish Helm Charts:
  image: curlimages/curl:latest
  needs:
    - lint Helm Charts
    - package Helm Charts
  script:
    - echo "Uploading Helm Chart tocli-cron $CRON_VERSION"
    - |
      curl --fail-with-body -X POST --user gitlab-ci-token:$CI_JOB_TOKEN --form "chart=@./pages/tocli-cron-$CRON_VERSION.tgz" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
  rules:
    - if: $CI_COMMIT_TAG

build pages:
  extends:
    - .pages

deploy pages:
  extends:
    - .pages
  pages:
    publish: docs/public
  rules:
    # automatically publish only on tag, allow manual publishing from main
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
    - if: $CI_COMMIT_TAG

trigger renovate:
  trigger:
    project: sickit/ci/renovate-bot
  variables:
    RENOVATE_AUTODISCOVER: false
    RENOVATE_EXTRA_FLAGS: $CI_PROJECT_PATH
  when: manual
