kind: ConfigMap
metadata:
  name: {{ include "tocli-cron.fullname" . }}
  labels:
    {{- include "tocli-cron.labels" . | nindent 4 }}
apiVersion: v1
data:
  {{- if not .Values.config.existingConfigMap }}
  config.yaml: |-
    {{- toYaml .Values.config | nindent 4 }}
  {{- end }}
  source_url: {{ .Values.source.url | quote }}
  {{- with .Values.vault.url }}
  vault_url: {{ . | quote}}
  {{- end }}
